*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif; 
    font-family: 'Roboto Serif', serif;
    color: #435334;
}
  /* Color Selection*/
  :root {
    --primary-bg-color: #FAF5E4; 
    --secondary-accent-color: #fff; 
    --bacground-color: #e4daba; 
    --asset-color: #e6bd06b6; 
}
/* header */

header{
    background-color: #FAF5E4;
    border-radius: 4px;
}

.header{
    display: grid;
    align-items: center;
    grid-template-columns: 1fr auto;
    grid-gap: 1rem;
    padding: 40px;
}

.header h1{
    font-size: 22px;
}
.my-name{
    font-size: 20px;
    
}

/* nav-bar */

nav ul li{
    padding: 9px 0;
}
nav ul li a{
    display: block;
    padding: 3px 40px;
    text-decoration: none;
    margin-bottom: 12px;
}

nav ul li:hover a{
    background-color: #e4daba;
    transition: 0.4s ease-in-out;

}

/* main */

main{
    padding: 40px;
}
main h2{
    text-align: center;
}

main p{
    margin: 20px 0;
}

main ol li {
    margin: 18px 0;
}

.wireframe{
    width: 100%;
    margin-top: 30px;
}

.color-table{
    background-color: red;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

/* color scheme page css */

.section{
    margin-top: 20px;
}

.section h3, .section p{
    margin: 0 20px;
}

.color{
    border: 1px solid #000;
    margin: 2px;
    padding: 5px;
}

main .section .primary{
    background-color: var(--primary-bg-color);
    padding: 10px;
    border: 1px solid #000;
}

main .section .secondary{
    background-color: var(--secondary-accent-color);
    padding: 10px;
    border: 1px solid #000;
}
main .section .background{
    background-color: var(--bacground-color);
    padding: 10px;
    border: 1px solid #000;
}
main .section .accent{
    background-color: var(--asset-color);
    padding: 10px;
    border: 1px solid #000;
}

/* footer */

footer{
    background-color: #FAF5E4;
    padding: 40px;
}