:root {
    --primary-color: #445ba9;
    --secondary-color: #555;
    --valid-border-color: green;
    --invalid-border-color: red;
}

* {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', 'Roboto Serif', sans-serif;
    box-sizing: border-box;
}

/* Styles for the modal */

.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    z-index: 999;
}

.modal-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    text-align: center;
}

/* Close button style */
.close-btn {
    cursor: pointer;
    font-size: 20px;
    position: absolute;
    top: 10px;
    right: 15px;
}



.header {
    background-color: #FAF5E4;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;


}

.header h1 {
    font-size: 30px;
    padding: 40px;
}

.logo {
    max-width: 250px;
    height: auto;
    filter: grayscale(50%);
}

/* Dark mode button */

#mode {
    top: 0;
    left: 2rem;
    font-size: 2rem;
    cursor: pointer;
    position: absolute;
}

#date {
    text-align: center;
    padding: 1rem;
}

/* nav bar */
/* nav-bar */


nav ul li:hover a {
    color: #4B0082;
    transition: 0.4s ease-in-out;
    transform: translateX(-10px);

}

nav ul>li:first-child a {
    color: black;



}

#menu {
    display: block;
    font-size: 2rem;
    font-weight: 700;
    text-decoration: none;
    padding: .5rem .75rem;
    color: #000;
    position: absolute;
    right: 1rem;

}

#menu::before {
    content: "≡";
}

.navigation {
    list-style: none;
    margin: 0 auto;
}

.navigation li {
    display: none;

}

.navigation a {
    display: block;
    text-decoration: none;
    color: black;
    font-weight: 700;
    transition: 0.5s;
    font-size: clamp(1rem, 2vmin, 1.5rem);
    padding: 20px 0;
}

.show li {
    display: block;
    margin: 20px;
}


#menu.show::before {
    content: "X";
}

/* main */

.wrapper {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 20px;
    padding: 10px;
    font-weight: 900;
}

.agenda {
    font-family: Arial, sans-serif;
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
}

.event {
    background-color: #FAF5E4;
    color: #000;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.event-time {
    font-weight: bold;
    margin-bottom: 5px;
}

.day {
    font-size: 18px;
}

.date {
    font-size: 16px;
}

.time {
    font-size: 14px;
}


.event-title {
    font-size: 20px;
    margin: 5px 0;
}

.event-description {
    font-size: 16px;
    margin: 5px 0;
}

.event-location {
    font-size: 14px;
}


.event,
.hero,
.placeholder,
.weather,
.news {
    border: 2px solid #000;
    width: 100%;
    height: 40vh;
    border-radius: 14px;
    padding: 30px;

}


.spotlight {
    border: 2px solid #000;
    width: 100%;
    border-radius: 14px;
    padding: 30px;
}

.hero {
    background: linear-gradient(rgba(10, 0, 0, 0.5), rgba(167, 71, 71, 0.842)), url('/wdd230/chamber/images/hero1.jpg');
    background-size: cover;
    background-position: center center;

}

.hero button {
    border: 1px solid #fff;
    border-radius: 14px;
    font-size: 18px;
    padding: 10px;
    background-color: transparent;
    color: #fff;
    cursor: pointer;
    transition: 0.3s ease;
}

button:hover {
    background-color: #e08585bb;
    color: #fff;
}

#year {
    font-weight: 900;
}

/* Discover page CSS */


.discover-section {
    display: grid;
    grid-template-columns: 1fr;
    gap: 30px;
    padding: 20px;
    margin: 0 auto;
    font-size: 20px;
}

.sidebar h2 {
    font-size: 28px;
    margin-top: 0;
}

.sidebar h3 {
    font-size: 18px;
    margin-top: 20px;
}

.sidebar p {
    font-size: 16px;
    line-height: 1.5;
}

/* List Styles */

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar ul li {
    margin-bottom: 10px;
}

.discover picture img {
    width: 100%;
    height: auto;
    transition: opacity 0.3s ease-in-out;
    border: 4px double rgb(243, 157, 157);
}


/* Add a hover effect to change image opacity on hover */
.discover picture img:hover {
    opacity: 0.7;
}

figure figcaption {
    font-style: oblique;
    font-weight: bolder;
    font-size: 20px;
    padding: 18px 0;
    text-align: center;
    letter-spacing: 15px;
}

.user-info {
    margin-top: 90px;
    text-align: right;
}

/* end */

/* Join page css */
.main-join{
    padding: 20px;
}

.form-container {
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
}

fieldset {
    padding: 1rem;
    border-radius: 4px;
    box-shadow: 4px 4px #CCC;
}

fieldset legend {
    font-weight: 900;
    color: #9c2c13;
    font-size: 18px;
    letter-spacing: 10px;
}

/* Style form labels */
label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input:required:valid {
    border-left: var(--valid-border-color) solid 6px;
}

/* Style form inputs and textareas */
input[type="text"],
input[type="email"],
input[type="tel"],
select,
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* Style submit button */
input[type="submit"] {
    background-color: #1a1402;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

input[type="submit"]:hover {
    background-color: #9c2c13;
}

/* Style membership benefits section */
.membership-benefits {
    margin-top: 20px;
}

/* Style membership levels */
.membershipLevels {
    padding-top: 20px;
}

/* Style membership level headings */
.membershipLevels h2 {
    margin-top: 20px;
    font-size: 24px;
}

/* Style membership level fees */
.membershipLevels .fee {
    font-weight: bold;
}

/* Style membership level benefits */
.membershipLevels ul {
    list-style-type: disc;
    margin-left: 20px;
}

/* Style membership level benefits list items */
.membershipLevels li {
    margin-bottom: 5px;
}

/* end*/

.confirmation-message {
    font-weight: bold;
    padding: 60px;
    text-align: center;
    border-radius: 5px;
    height: 40vh;
    text-shadow: 2px 2px #eec0c0;
}


.confirmation-message h2 {
    font-size: 24px;
}

.confirmation-message p {
    font-size: 16px;
    margin: 10px 0;
}


footer p {
    font-size: 19px;
}



footer {
    background-color: #FAF5E4;
    padding: 40px;

}