:root {
    --primary-color: #445ba9;
    --secondary-color: #555;
    --valid-border-color: green;
    --invalid-border-color: red;
}

form fieldset {
    margin: 0 2%;
    border: 1px solid var(--primary-color);
    border-radius: 10px;
    padding: .5rem 2%;
}

form legend {
    color: #000;
    margin: 0 1rem;
    padding: 0 .5rem;
    font-weight: 800;
}

input {
    --webkit-appearance: none;
    min-width: 50%;
    height: 48px;
}

input:required {
    border-left: var(--invalid-border-color) solid 6px;
}

input:required:valid {
    border-left: var(--valid-border-color) solid 6px;
}

form label.top,
form div {
    display: block;
    padding-top: 1rem;
    color: var(--primary-color);
    font-size: 18px;
}

form label.sbs {
    display: block;
    padding: .75rem 0;
    color: var(--secondary-color);
}

.submitBtn {
    border: none;
    background-color: var(--primary-color);
    color: white;
    border-radius: 1rem;
    padding: .75rem 1.5rem;
    margin: 2%;
    width: 90%;
    max-width: 20rem;
}

/* Clearfix: Force an Element not to collapse */
.clearfix:after {
    content: "";
    display: table;
    clear: both;
}