@media screen and (min-width: 500px) {
    body{
        padding: 40px;
    }
    nav ul{
        display: flex;
        list-style-type: none;
    
    }

    .wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding: 20px 0;
        gap: 1rem;
    }
    
}