@media screen and (min-width: 500px) {

    body {
        padding: 40px;
    }

    nav ul {
        display: flex;
        list-style-type: none;

    }

    .navigation {
        display: flex;
    }

    .navigation li {
        display: block;
        /* change state in small view */
        margin: 0 30px;
    }

    .navigation a {
        text-align: center;
    }

    #menu {
        display: none;
    }

    .wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding: 20px 0;
        gap: 1rem;
    }

}